<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Car Lot Tests.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>Car Lot.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>5E7837D5143E3A5700C061C7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>5E7837F0143E3A5700C061C7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>5E783850143E458900C061C7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>5E783866143E47E400C061C7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>5E78388F143E4B0C00C061C7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
